@font-face {
  font-family: 'museo500';
  src: url('/assets/Museo500-Regular-webfont.eot');
  src: url('/assets/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/Museo500-Regular-webfont.woff2') format('woff2'),
       url('/assets/Museo500-Regular-webfont.woff') format('woff'),
       url('/assets/Museo500-Regular-webfont.ttf') format('truetype'),
       url('/assets/Museo500-Regular-webfont.svg#museo500') format('svg');
  font-weight: normal;
  font-style: normal;
}

.red {
  color: #be5041;
}

a, a:visited {
  color: white;
}

body {
  background: #fff;
  margin: 0;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('/assets/moments.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

body, h1, h2, h3 {
  font-family: museo500, sans-serif;
}

h1, p {
  margin: 0 auto;
}

h1 {
  font-size: 4.5rem;
}

.section h2 {
  color: #9B9B9B;
  font-size: 4.5rem;
}

.section p {
  color: #4A4A4A;
  font-size: 2rem;
}

.section .button {
  border-radius: 5px;
}

#moments {
  font-family: museo500, sans-serif;
  font-weight:100;
  color: white;
  width: 33%;
  font-size: 2rem;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#moments p {
  color: white;
  line-height: 2rem;
}

#moments .button {
  background: rgba(255,255,255,0.23);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  display: block;
  margin: 1rem auto;
  padding: .4rem;
  transition: .3s background;
  width: 60%;
}

#moments .button:hover {
   background: rgba(0,0,0,0.5);
}

.download {
  background-color: #F98100;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin: 20px auto;
  line-height: 53px;
  width: 340px;
  height: 53px;
}

.store {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
  margin: 0;
  width: 145px;
  height: 53px;
}

footer {
  /*background-color: #9B9B9B;*/
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 2rem;
}

#email-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
}

.email-form {
  position: absolute;
  width: 50%;
  top: 30%;
  left: 50%;
  margin-left: -25%; }
  .email-form h1 {
    color: white;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0.05em;
    padding-bottom: 0; }
    .email-form h1 img {
      width: 25px;
      line-height: 10px;
      vertical-align: -2px; }
  .email-form .done {
    display: none; }
  .email-form .collapse {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px; }
  .email-form input[type=email] {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border-style: none;
    text-align: center;
    height: 50px;
    margin: 0; }
  .email-form button.signup {
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    color: white;
    height: 50px;
    padding: 0;
    margin: 0;
    width: 100%; }
  .email-form .form-message, .email-form .form-error {
    padding: 0.5em 0;
    color: white;
    font-size: 1.2em; }
  .email-form .form-error {
    color: red; }
  .email-form ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.9); }
  .email-form :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.9); }
  .email-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.9); }
  .email-form :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.9); }

#fp-nav span, .fp-slidesNav span {
  background: #F98100;
}

@media screen and (max-device-width: 800px) {
  #home {
    background: url(/assets/moments.jpg) white no-repeat center center fixed;
    content: "";
    display: block;
    height: 100%;
  }
  #bgvid { display: none; }
  h1 {
    font-size: 3rem;
  }
  #moments p {
    line-height: 1.5rem;
  }
  .section p {
    font-size: 1.5rem;
  }
  footer {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .email-form {
    top: 35%;
    left: 40%;
    width: 70%;
  }
  .email-form input[type=email],
  .email-form button.signup {
    font-size: 2rem;
  }
}
