@font-face {
  font-family: 'museo500';
  src: url('/assets/Museo500-Regular-webfont.eot');
  src: url('/assets/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/Museo500-Regular-webfont.woff2') format('woff2'),
       url('/assets/Museo500-Regular-webfont.woff') format('woff'),
       url('/assets/Museo500-Regular-webfont.ttf') format('truetype'),
       url('/assets/Museo500-Regular-webfont.svg#museo500') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background: #fff;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('/assets/moments.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

#moments {
  font-family: museo500, sans-serif;
  font-weight:100;
  color: white;
  width: 33%;
  font-size: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 4.5rem;
}

h1, p {
  margin: 0 auto;
}

#moments button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#moments button:hover {
   background: rgba(0,0,0,0.5);
}

#fp-nav span, .fp-slidesNav span {
  background: white !important;
}

@media screen and (max-width: 500px) {
  div {
    width:70%;
  }
}

@media screen and (max-device-width: 800px) {
  html { background: url(/assets/moments.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}